@import "tailwindcss";

:root {
  --primary-blue: #0a2e8a;
  --gold: #f5a623;
  --light-blue: #bfe3ff;
  --background: #f9fbff;
  --dark-text: #10204e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--dark-text);
  overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dbeafe;
}

::-webkit-scrollbar-thumb {
  background: #0a2e8a;
  border-radius: 999px;
}